@import "rose-pine.css";

* {
  min-height: 0;
    margin: 0;
  padding: 0;
  font-family: "JetBrainsMono Nerd Font", "Hack Nerd Font", FontAwesome, Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 14px;
}

window#waybar {
  color: @text;
  background: @base00;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.empty {
  opacity: 0.3;
}

.modules-left {
  color: @text;
  margin-right: 10px;
  padding: 2px 12px;
  border-radius: 90px;
  background: none;
}

.modules-right {
  color: @text;
  margin-right: 10px;
  padding: 2px 15px;
  border-radius: 90px;
  background: none;
}

.modules-center {
  color: @text;
  margin-right: 10px;
  padding: 2px 15px;
  border-radius: 90px;
  background: none;
}

#custom-power {
}

#workspaces {
}

#workspaces button {
}

#workspaces button.active {
  color: @foam;
}

#custom-spotify,
#cpu,
#temperature,
#memory,
#battery,
#pulseaudio,
#network,
#clock,
#tray,
#custom-power,
#network {
  font-weight: 600;
  margin-right: 10px;
  padding: 6px 15px;
  border-radius: 90px;
}


#network.disconnected {
  background-color: @rose;
}
